
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Ubuntu";
            
        }
         body{
            
            height: 100%;
        }
        :root{
            --primayColor: rgb(255, 129, 255);
            --titleAplication: "Ubuntu", sans-serif;
            --twoColor:#A5BEfA;
            --violeta:rebeccapurple;
        }

        .formatacao-layout{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
          
        }
        .container{
            max-width: 36rem;
            width: 90%;
            
            /* margin: 3rem auto; */
             /* border: px solid red;  */
           
        
        }
        

       /* @media screen and (min-width: 768px){
         
        }*/

            
            .cabecalho{
                max-width: 36rem; 
                width: 90%;
                text-align: center;
                
                
            }
            #imagem-amigos{
                width: 15rem;
                
            
              
            }
           
        #form{
            /* border: 5px solid red; */
            /* width: 768px; */
           
        margin-top:32px;
            display: flex; 
            flex-direction: column ;
            
            align-items: center;
            justify-content: center;
            

         
             
        /* border: 3px solid black; */}
        
       input{
        width: 320px;
        height: 40px;
        margin-top: 10px;
        outline: none;
        border-radius: 6px;
        border:2px solid var(--twoColor);
        
        padding-left: 10px;
        
       
       }
       
 #send{
    width: 320px;
    height:  2rem;
    border-radius: 6px;
    border:none;
    outline: none;
    font-family: sans-serif;
     
    cursor: pointer;
  
  background-image: linear-gradient(90deg, rgb(120, 120, 250) 0%, rgb(227, 70, 255) 50%, yellow 100%);
  margin-top:1rem;
  animation: jump 1s infinite;


    
 }
 
 @keyframes jump{
     50%{
         transform: translateY(-4px);
     }
     
     
 }
 

      .loading{
          color:#000;
          animation:pulse 1s infinite;
      }  
      @keyframes pulse{
         50%{
             opacity: 0.5;
         }
         
      }
 /*rodape*/

 #roda-pe{
    
    font-family: "Ubuntu";
  
 }
 footer{
  margin-top: 2rem;
 }
.caixa-botao{
    
    margin-top:16px;
}
 /*
 ##h3 com a classe .titulo-fale-conosco, agora vou estilizar a tag strong
 */


 /*Mediaquerys*/

 @media  screen and (max-width: 384px){
     .text-direitos{
         font-size:0.9rem;
     }
 body{
background-color: #fff;
    
     
 }
.text-btn{
    font-size:1rem;
}
 
#roda-pe{

line-height: 160%;
text-align: center;


    
}


.titulo-fale-conosco{
    font-size: 1.5rem;
    color:rgb(120, 120, 250);
}

  
 .caixa-botao{
      /*
      elemento pai do butão
      */
                   

      }
 
 .text-account{
              
              font-size:2.5rem;
              text-align: center;
              
              
          }      
   
   .text-account {
       color:rgb(120, 120, 250);
   }
                  
        }


/*
Gabiara

*/    

@media screen and (min-width: 768px){
    input{
        border-bottom:2px solid var(--primayColor);
    }
    
}
.titulo-email{
    margin-left: 9%;
}

.figure{
    margin-top:32px;
}

.telabug{
    /* imagem depois do botão*/
    width: 15rem;
}
.formatacao-section{
    text-align: center;
    line-height: 160%;
    margin-top:32px;
}

.link-sobre{
    font-size:1rem;
    font-family:sans-serif ;
}


@media(orientation:landscape ){
    body{
        background-color:green;
    }
    .text-account{
        text-align: center;
    }
}